main {
    background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    width: 95vw;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #FFFFFF;
    position: relative;
    margin: auto;
  font-family: 'Dancing Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Redressed', cursive;
}
hr {
    width: 100px;
}
.absolute {
    position: absolute;
    font-size: 25px;
}
.logo {
    top:5px;
    left:5px;
}
.about {
    top: 5px;
    right: 5px;
}
.powered {
    bottom: 5px;
    left: 5px;
}
.seytech {
    bottom: 5px;
    right: 5px;
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
